@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;   
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(90deg,#be257e
     (91,30,151,1) 0% rgb(129, 19, 151)
}

body h2{
    color: indigo;
}
main{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}

.spnqntd{
    text-align: end;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


button{
    width: 100%;
    text-align: start;
    padding: 5 px;
    border: none;
    border-radius: 5px;
    cursor:pointer ;
    background-color: blueviolet;
    color: azure;
}

.finish{
    display: none;
    flex-direction: column;
    gap: 10px;
}
 